* @probabilistic-numerics/probnum-global-codeowners

# Compute Backends
/src/probnum/backend @marvinpfoertner @JonathanWenger
/tests/probnum/backend @marvinpfoertner @JonathanWenger

# Compatibility Functions
/src/probnum/compat @marvinpfoertner @JonathanWenger

# Differential Equations
/src/probnum/diffeq/ @pnkraemer @schmidtjonathan
/src/probnum/problems/zoo/diffeq/ @pnkraemer @schmidtjonathan

/tests/test_diffeq/ @pnkraemer @schmidtjonathan
/tests/probnum/problems/zoo/diffeq/ @pnkraemer @schmidtjonathan

/benchmarks/ivpsolvers.py @pnkraemer @schmidtjonathan

# Filtering and Smoothing
/src/probnum/filtsmooth/ @pnkraemer @schmidtjonathan
/src/probnum/problems/zoo/filtsmooth/ @pnkraemer @schmidtjonathan

/tests/test_filtsmooth/ @pnkraemer @schmidtjonathan
/tests/problems/zoo/filtsmooth/ @pnkraemer @schmidtjonathan

/benchmarks/filtsmooth.py @pnkraemer @schmidtjonathan

# Linear Algebra
/src/probnum/linalg/ @JonathanWenger @marvinpfoertner
/src/probnum/problems/zoo/linalg/ @JonathanWenger @marvinpfoertner

/tests/probnum/linalg/ @JonathanWenger @marvinpfoertner
/tests/problems/zoo/linalg/ @JonathanWenger @marvinpfoertner

/benchmarks/linearsolvers.py @JonathanWenger @marvinpfoertner

# Linear Operators
/src/probnum/linops/ @marvinpfoertner @JonathanWenger
/tests/test_linops/ @marvinpfoertner @JonathanWenger

/benchmarks/linops.py @marvinpfoertner @JonathanWenger

# Quadrature
/src/probnum/quad/ @mmahsereci @tskarvone
/src/probnum/problems/zoo/quad/ @mmahsereci @tskarvone

/tests/test_quad/ @mmahsereci @tskarvone
/tests/problems/zoo/quad/ @mmahsereci @tskarvone

# Random Processes & Kernels
/src/probnum/randprocs/ @marvinpfoertner @JonathanWenger
/tests/probnum/randprocs/ @marvinpfoertner @JonathanWenger

/benchmarks/randprocs.py @marvinpfoertner @JonathanWenger
/benchmarks/kernels.py @marvinpfoertner @JonathanWenger

/src/probnum/randprocs/markov/ @pnkraemer @schmidtjonathan
/tests/probnum/randprocs/markov/ @pnkraemer @schmidtjonathan

# Random Variables
/src/probnum/randvars/ @marvinpfoertner @JonathanWenger
/tests/probnum/randvars/ @marvinpfoertner @JonathanWenger

/benchmarks/random_variables.py @marvinpfoertner @JonathanWenger
