/* Color variables */
:root {
  --main-color: #107d79;
  --text-background-color: #e9f4f4;
  --text-highlight-color: #ff9933;
}

/* Mobile friendly width */
div.body {
		min-width: 375px;
		max-width: 1000px;
}

/* Inline code highlighting */
code {
    font-size: 90%;
    color: var(--main-color);
    padding: 2px 4px;
		background-color: var(--text-background-color);
		border-radius: 4px;
}

/* Hyperlinks */
a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

/* Alert boxes (e.g. documentation "see also")*/
.alert-info {
		color: #333;
		background-color: #e7e7e7;
		background-image: linear-gradient(to bottom, #fbfbfb 0, #f2f2f2 100%);
		border-color: #ccc;
}

/* Brand image on navigation bar */
.navbar-brand {
	float: left;
	height: 50px;
	padding: 8px 8px 5px 5px;
	font-size: 18px;
	line-height: 20px;
}

/* Dropdown menu in navigation bar */
.dropdown-menu .caption {
	margin: 0 0 10px 10px;
}

/* Citations in documentation */
dl.footnote > dd, dl.citation > dd {
    margin-bottom: -.5em;
}
