/* Color variables */
:root {
  --main-color: #107d79;
  --main-background-color: #fcfcfc;
  --text-background-color: #e9f4f4;
  --text-highlight-color: #ff9933;
  --dark-gray: #333;
  --light-gray: #f2f2f2;
}

/* Sidebar */

/* Logo area */
.wy-nav-top {
	background: var(--main-color);
}
.wy-nav-side {
	background: var(--dark-gray);
}
/* Home button */
.wy-side-nav-search .wy-dropdown > a, .wy-side-nav-search > a {
	color: var(--dark-gray);
}
/* Version number */
.wy-side-nav-search > div.version {
	color: var(--dark-gray);
}
/* Sidebar headers */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: var(--main-color);
}
/* Sidebar links */
.wy-nav-content a:visited {
	color: var(--main-color);
}
.wy-menu-vertical a:active {
	background-color: var(--main-color);
}

/* Hyperlinks */
a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

/* Code highlighting */

/* Block */
.highlight {
	background: var(--text-background-color);
}

/* Inline */
.rst-content code.literal, .rst-content tt.literal{
    color: var(--main-color);
    padding: 1px 2px;
		background-color: var(--text-background-color);
		border-radius: 4px;
}


/* Alert boxes (e.g. documentation "see also")
.alert-info {
		color: var(--dark-gray);
		background-color: #e7e7e7;
		background-image: linear-gradient(to bottom, #fbfbfb 0, #f2f2f2 100%);
		border-color: #ccc;
}

/* Citations in documentation
dl.footnote > dd, dl.citation > dd {
    margin-bottom: -.5em;
}
*/
