# Jupyter notebooks
ipython<8.11.0
# ipython 8.7 introduced a bug regarding pygments lexer support
# https://github.com/spatialaudio/nbsphinx/issues/24
# https://github.com/ipython/ipython/issues/13845
jupyter

# Notebook conversion
nbsphinx>=0.8.6,<0.8.7
# Jinja2 version 3.1 introduced a bug in nbconvert, see https://github.com/jupyter/nbconvert/pull/1737
Jinja2<3.1

# Dependencies
matplotlib
pytest
