# Packages required for building the documentation
sphinx >= 1.7.5, <= 2.4.4
sphinx_rtd_theme
sphinx_automodapi
m2r

# Sphinx dependencies
Pygments>=2.6.1

# Sphinx extensions
sphinx-rtd-theme
sphinx-automodapi
sphinx-autodoc-typehints
sphinx-gallery

# Markdown conversion
m2r2

# Jupyter notebooks
nbsphinx
jupyter
