# Sphinx builds the documentation
sphinx>=3.0,<7.3

# Sphinx dependencies
Pygments>=2.6.1

# Sphinx extensions
pydata-sphinx-theme>=0.6.0,<0.14.4
sphinx-automodapi
sphinx-gallery

# Markdown conversion
myst-parser<2.1.0
