# Sphinx builds the documentation
sphinx>=3.0,<5.4

# Sphinx dependencies
Pygments>=2.6.1

# Sphinx extensions
pydata-sphinx-theme>=0.6.0,<0.13.4
sphinx-automodapi
sphinx-gallery

# Markdown conversion
myst-parser<1.1.0
